@model LogInViewModel
@{
    ViewBag.Title = "Login";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}
<form class="form" method="post" novalidate>
    <h2 class="form-heading">Please sign in</h2>
    <label for="inputUserName" class="sr-only">User Name</label>
    <input type="email" asp-for="UserName" id="inputUserName" class="form-control first" placeholder="User Name" required autofocus />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" asp-for="Password" id="inputPassword" class="form-control last" placeholder="Password" required />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>
