@model RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
}
@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}
<form class="form" method="post" novalidate>
    <h2 class="form-heading">Please register</h2>
    <label for="inputUserName" class="sr-only">User Name</label>
    <input type="text" asp-for="UserName" id="inputUserName" class="form-control first" placeholder="User Name" required autofocus />
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" asp-for="Email" id="inputEmail" class="form-control" placeholder="Email address" required />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" required />
    <label for="inputRepeatPassword" class="sr-only">Repeat Password</label>
    <input type="password" asp-for="RepeatPassword" id="inputRepeatPassword" class="form-control last" placeholder="Repeat Password" required />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
